body {
    width: 100%;
    height: 100%;
    font-family: font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
html {
    width: 100%;
    height: 100%;
}

/*Nav bar*/
.flex-nav {
    background-color:  #eff1f4;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    padding-left: 5%;
    margin-bottom: 2.5%;
}
.nav-option {
    background-color: white;
    text-align: center;
    margin-right: 75px;    
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1.5px 1.5px 0 0 rgba(0,0,0,0.1);
}
a {
    text-decoration: none;
    color: black;
}
/*Main container*/
#flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
