body {
}
.flex-nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: solid grey 1px;
}

flex-nav-option {
  flex-grow: 1;
  border: solid grey 1px; 
}