body {
}
.flex-nav {
  display: flex;
  align-items: center;
  width: 100%;
  background: #eee;
  padding: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.search {
  flex: 1;
} 
flex-nav-option {
  flex-grow: 1;
}