body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}

/*Nav bar*/
.flex-nav {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: solid lightgrey 1px;
}
.nav-option {
    background-color: cornflowerblue;
    text-align: center;
    margin-right: 75px;    
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}

/*Main container*/
#flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
