@{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<p>@Html.ActionLink("Admin Portal","Login", "Admin")</p>
<p>@Html.ActionLink("Newsletter", "Index", "Newsletter")</p>