<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Styles.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="flex-nav">
        <div class="logo"></div>
        <div class="option nav-option">@Html.ActionLink("Newsletter", "Index", "Newsletter")</div>
        <div class="option nav-option">@Html.ActionLink("Admin Portal", "Login", "Admin")</div>
    </div>
    <div class="flex-container">
        @RenderBody()
    </div>
</body>
</html>
