@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model SonOfCod.Models.Subscriber
<link href="~/css/Newsletter/Index.css" rel="stylesheet" />
<div class="main">

    <h1>Newsletter</h1>
    <div class="admin-container">
        @if (User.Identity.IsAuthenticated)
        {
            <p>@Html.ActionLink("View Subscribers", "ViewSubscribers")</p>
            <p>Hello @User.Identity.Name!</p>
            @using (Html.BeginForm("LogOff", "Admin"))
            {
                <input type="submit" class="btn btn-default" value="Log out" />
            }
        }

        else
        {
        <div class="main-content">
            <h2>Interested in our news letters?</h2>
            <p>@Html.ActionLink("Sign up!", "Subscribe")</p>
        </div>

        }
    </div>
</div>

